<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="Solicitudes" connectionString="Server=DESKTOP-CRJD420;     Database=Creditos; Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioSolicitud" />
        <binding name="BasicHttpBinding_IservicioAnalista" />
        <binding name="BasicHttpBinding_IServicioCliente" />
        <binding name="BasicHttpBinding_IservicioAnalista1" />
        <binding name="BasicHttpBinding_IServicioCliente1" />
        <binding name="BasicHttpBinding_IServicioSolicitud1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/ServicioSolicitud/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioSolicitud"
        contract="ProxySolicitudes.IServicioSolicitud" name="BasicHttpBinding_IServicioSolicitud" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/servicioAnalista/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicioAnalista"
        contract="ProxyAnalistas.IservicioAnalista" name="BasicHttpBinding_IservicioAnalista" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_SolicitudesCreditos/ServicioCliente/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente"
        contract="ProxyClientes.IServicioCliente" name="BasicHttpBinding_IServicioCliente" />
      <endpoint address="http://DESKTOP-CRJD420/WCF_SolicitudesCreditos/WCF_SolicitudesCreditos.servicioAnalista.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IservicioAnalista1"
        contract="ProxyAnalistaP.IservicioAnalista" name="BasicHttpBinding_IservicioAnalista1" />
      <endpoint address="http://DESKTOP-CRJD420/WCF_SolicitudesCreditos/WCF_SolicitudesCreditos.ServicioCliente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente1"
        contract="ProxyClienteP.IServicioCliente" name="BasicHttpBinding_IServicioCliente1" />
      <endpoint address="http://DESKTOP-CRJD420/WCF_SolicitudesCreditos/WCF_SolicitudesCreditos.ServicioSolicitud.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioSolicitud1"
        contract="ProxySolicitudesP.IServicioSolicitud" name="BasicHttpBinding_IServicioSolicitud1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>